@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.loader {
  display: grid;
  place-items: center;
  background-color: rgb(231, 237, 243);
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: dissapear 2s forwards;
  animation-delay: 3s;
}
.loader i {
  color: black;
  animation: spin 2s infinite;
}

@keyframes fadeMenu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dissapear {
  100% {
    opacity: 0;
    z-index: -20;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.button {
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  border-radius: 40px;
  border: none;
  box-shadow: 0px 6px 8px #d1d1d1;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
}

.button:hover {
  background: #9356dc;
  background-image: -webkit-linear-gradient(top, #9356dc, #ff79da);
  background-image: -moz-linear-gradient(top, #9356dc, #ff79da);
  background-image: -ms-linear-gradient(top, #9356dc, #ff79da);
  background-image: -o-linear-gradient(top, #9356dc, #ff79da);
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  text-decoration: none;
}

.command {
  margin-left: 45%;
  background: linear-gradient(to bottom, #ff79da 5%, #9356dc 100%);
  border-radius: 40px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
}

.fa-solid {
  color: transparent;
}

.fa-solid:hover {
  color: red;
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-heart {
  position: absolute;
  font-size: 50px;
  right: 8%;
  top: 79%;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
header .fa-arrow-left-long {
  color: red;
  margin-right: auto;
}
header img {
  width: 250px;
  margin: 20px;
}
header .lieu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e5e5;
  width: 100%;
  height: 50px;
}
header .lieu i {
  margin-right: 14px;
}
header .lieu p {
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 0) and (max-width: 320px) {
  header .homeTitles {
    color: red;
  }
  header img {
    width: 150px;
    margin: 15px;
  }
  header .lieu {
    flex-direction: row;
    background-color: #e5e5e5;
    width: 100%;
    height: 50px;
  }
  header .lieu i {
    margin-right: 14px;
  }
  header .lieu p {
    font-size: 15px;
    font-weight: bold;
  }
}
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(55, 59, 59);
  color: azure;
  padding: 10px;
  margin-top: 8%;
}
footer h5 {
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-left: 10px;
}
footer ul {
  display: flex;
}
footer ul li {
  margin: 10px;
}
footer ul li:hover {
  color: #99E2D0;
}
footer ul i {
  margin-right: 10px;
}

@media screen and (min-width: 0) and (max-width: 320px) {
  footer {
    margin-top: 0;
  }
  footer .omfFont {
    font-size: 20px;
    font-family: "Shrikhand", cursive;
    font-weight: 100;
    margin-right: auto;
  }
  footer ul {
    flex-direction: column;
    margin-right: auto;
  }
}
main img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
main .menu {
  background-color: #f2f2f2;
  padding-top: 30px;
  border-radius: 20px 20px 0 0;
  margin-top: -16px;
  position: relative;
}
main .menu h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 25px;
  margin: auto 15px 35px 20px;
}
main .titreMenus {
  font-weight: 300;
  font-size: 20px;
  border-bottom: 3px solid #85dde9;
  width: 40px;
  margin: 20px auto;
}
main .menuList {
  display: flex;
  justify-content: center;
}
main .menuList .fadeEffect {
  animation: fadeMenu 0.6s;
}
main .menuList .menuDetail {
  display: flex;
  align-items: center;
  background-color: rgb(252, 252, 252);
  margin: 20px 15px;
  border-radius: 18px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  height: 100px;
  width: 400px;
  padding: 5px;
  animation-delay: 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
main .menuList h2 {
  font-size: 16px;
}
main .menuList p {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 177px;
}
main .menuList .price {
  font-size: 14px;
  font-weight: bold;
  height: 20px;
}
main .menuList .okbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  height: 81px;
  border-radius: 0 18px 18px 0;
  margin-right: 0;
}
main .menuList .okbox .fa-circle-check {
  color: white;
}

#etapes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
#etapes .reservation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0deg, 3%, 92%);
  width: 100%;
  margin: 0;
  padding: 40px;
  gap: 1em;
}
#etapes .reservation h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#etapes .reservation p {
  font-size: 18px;
  text-align: center;
}
#etapes .reservation .button {
  font-size: 18px;
  width: auto;
}
#etapes .fonctionnement {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
#etapes .fonctionnement ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  counter-reset: compteur;
}
#etapes .fonctionnement ul i {
  margin-right: 15px;
}
#etapes .fonctionnement ul li {
  font-weight: bold;
  font-size: 18px;
  margin: 20px;
  padding: 25px;
  background-color: #e5e5e5;
  border-radius: 18px;
  box-shadow: 4px 4px 9px 2px #adadad;
  width: 280px;
}
#etapes .fonctionnement ul li:hover {
  background-color: rgb(237, 223, 240);
  color: #9356DC;
}
#etapes .fonctionnement ul li::before {
  counter-increment: compteur;
  content: counter(compteur);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  margin-left: -33px;
  background-color: #9356DC;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#restaurants {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
#restaurants h2 {
  text-align: center;
  font-size: 30px;
  margin: 40px;
}
#restaurants nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
#restaurants a {
  border-radius: 16px;
  box-shadow: 3px 3px 9px 0px #adadad;
  height: 320px;
  width: 33%;
  position: relative;
}
#restaurants a img {
  object-fit: cover;
  width: 100%;
  border-radius: 16px 16px 0 0;
  height: 70%;
}
#restaurants a span {
  background-color: #99E2D0;
  color: rgb(15, 131, 15);
  box-shadow: 3px 3px 10px 0 #b9b7b7;
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 20px;
  border-radius: 5px;
  font-weight: bold;
}
#restaurants a h2 {
  font-size: 20px;
  text-align: left;
  margin: 10px auto 0 20px;
}
#restaurants a p {
  font-size: 20px;
  margin-left: 20px;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  #etapes .reservation {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  #etapes .reservation h1 {
    font-size: 24px;
  }
  #etapes .reservation p {
    font-size: 15px;
    width: 300px;
    text-align: center;
  }
  #etapes .reservation .button {
    font-size: 14px;
    width: auto;
  }
  #etapes .fonctionnement .homeTitles {
    font-size: 19px;
    margin: auto auto 19px 24px;
  }
  #etapes .fonctionnement ul {
    padding-bottom: 35px;
  }
  #etapes .fonctionnement ul li {
    font-size: 15px;
    margin: 11px;
    padding: 25px;
    box-shadow: 3px 3px 9px 0px #adadad;
    width: 265px;
  }
  #etapes .fonctionnement ul li:hover {
    background-color: rgb(237, 223, 240);
    color: #9356DC;
  }

  #restaurants {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #e5e5e5;
    padding: 20px 0 50px 0;
    margin: 0;
  }
  #restaurants .homeTitles {
    font-size: 19px;
    margin: 20px auto 19px 24px;
  }
  #restaurants nav {
    gap: 1em;
  }
  #restaurants a {
    border-radius: 16px;
    height: 210px;
    width: 90%;
    position: relative;
  }
  #restaurants a img {
    object-fit: cover;
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: 70%;
  }
  #restaurants a span {
    padding: 6px;
    border-radius: 5px;
    font-size: 13px;
  }
  #restaurants a h2 {
    font-size: 15px;
    text-align: left;
  }
  #restaurants a p {
    font-size: 15px;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
