.fa-solid {
  color: transparent;
  }
  .fa-solid:hover {
    color: red;
    background-clip: text;
    -webkit-background-clip: text;
  }

.fa-regular:hover {
   
}
.fa-heart {
  position: absolute;
  font-size: 50px;
  right: 8%;
  top: 79%;
}
