footer {
  @include flexbox;
  background-color: rgb(55, 59, 59);
  color: azure;
  padding: 10px;
  margin-top: 8%;

  & .omfFont {
    font-size: 20px;
    font-family: "Shrikhand", cursive;
    font-weight: 100;
    margin-left: 10px;
  }
  & ul {
    display: flex;
    & li {
      margin: 10px;
    }
    & li:hover {
      color: $color-tertiary;
    }
    & .footerIcons {
      margin-right: 10px;
    }
  }
}

// VERSION MOBILE 

@media screen and (min-width: 0) and (max-width: 320px) {
  footer {
    & h5 {
      font-size: 20px;
      font-family: "Shrikhand", cursive;
      font-weight: 100;
      margin:10px auto 10px 10px;
    }
    & ul {
      flex-direction: column;
      margin-right: auto;
    }
    .footerIcons {
      margin-right: 5px;
    }
  }
}